spider/data/
data
data2
__pycache__
gazettes.csv
scrapy.log
notebooks/*.png
notebooks/*.gif
logs
models
checkpoints
tests/*.txt
notebooks/.ipynb_checkpoints
scripts/.ipynb_checkpoints/
.ipynb_checkpoints/
runs
mlruns
